pkgbase = gui-for-singbox
	pkgdesc = GUI for SingBox
	pkgver = 1.22.0
	pkgrel = 1
	url = https://github.com/GUI-for-Cores/GUI.for.SingBox
	install = gui-for-singbox.install
	arch = x86_64
	license = GPL3
	depends = glibc
	depends = webkit2gtk-4.1
	depends = jq
	depends = curl
	options = !debug
	source = gui-for-singbox-1.22.0.zip::https://github.com/GUI-for-Cores/GUI.for.SingBox/releases/download/v1.22.0/GUI.for.SingBox-linux-amd64.zip
	source = gui-for-singbox.desktop
	source = https://raw.githubusercontent.com/GUI-for-Cores/GUI.for.SingBox/main/build/appicon.png
	sha256sums = e54911ef6d688fa93601c2e53ac407309bd56351f09d8fc9dfb1ce8d8f7eb8fd
	sha256sums = 576a9561c73fdc39f31670ac5cb6fefc61822a348f116f0d64f9e2e402882729
	sha256sums = 08257d0d21c76a56e48e38105460927293a452ddc6b0b62db401bf5b5b9b7adf

pkgname = gui-for-singbox
