pkgbase = gui-for-singbox
	pkgdesc = A GUI program for SingBox developed by Vue3 + Wails
	pkgver = 1.21.0
	pkgrel = 1
	url = https://github.com/GUI-for-Cores/GUI.for.SingBox
	install = gui-for-singbox.install
	arch = x86_64
	license = GPL-3.0-or-later
	depends = webkit2gtk-4.1
	depends = glib2
	depends = glibc
	depends = gtk3
	provides = gui-for-singbox
	conflicts = gui-for-singbox-git
	options = !debug
	source = gui-for-singbox-1.21.0.zip::https://github.com/GUI-for-Cores/GUI.for.SingBox/releases/download/v1.21.0/GUI.for.SingBox-linux-amd64.zip
	source = gui-for-singbox.desktop
	source = gui-for-singbox.png::https://raw.githubusercontent.com/GUI-for-Cores/GUI.for.SingBox/main/build/appicon.png
	sha256sums = aad1ff6b2518c643addca5726381c58cdbd7ceea6f447abf7c9ef16ccdb08184
	sha256sums = 792542a0b480d1d45148c464b6001c487c9615c1e7f708239b5956cf3d3b983b
	sha256sums = 08257d0d21c76a56e48e38105460927293a452ddc6b0b62db401bf5b5b9b7adf

pkgname = gui-for-singbox
